extends layout 
 
block content 
  h1= title 
 
  form(id='DragonForm', action="/resource/dragons", method="POST") 
    div.form-group 
        label.dragonAttr(for='dragonname') Dragon name 
        input#dragonname(type='text', name='dragonname') 
    div.form-group 
        label.dragonAttr(for='feature') Dragon feature
        input#feature(type='text', name='feature') 
    div.form-group 
        label.dragonAttr(for='ranking') Dragon ranking
        input#ranking(type='number', name='ranking') 
    input(type="submit") 
 
  script. 
    document.forms['DragonForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
    
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 